.container {
  display: flex;
  align-items: center;
}

.text {
  font-weight: 50;
  margin-right: 12px;
}

.email {
  color: black;
  font-style: italic;

  transition: color 250ms linear;
}

.email:hover,
.email:active {
  color: red;
}
